<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <label for="title">Movie Title:</label>
        <input type="text" class="form-control" id="title" ng-model="movie.title">
    </div>
</div>
<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <label for="director">Director:</label>
        <input type="text" class="form-control" id="director" ng-model="movie.director">
    </div>

</div>
<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <label for="genre">Genre:</label>
        <input type="text" class="form-control" id="genre" ng-model="movie.genre">
    </div>

</div>
<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <label for="year">Release Year:</label>
        <input type="text" class="form-control" id="year" ng-model="movie.releaseYear">
    </div>

</div>
<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <input type="submit" class="btn btn-primary" value="Save"/>
    </div>
</div>